/* Яким буде колір тексту абзаців? */
/* p {
  color: blue;
  background-color: orange;
}

p {
  color: teal;
} */
/* Специфічність - 0 0 0 1 */
/* Специфічність - 0 0 1 0 */

/* Специфічність - 0 0 1 0 */
.post {
	color: green;
  }
  
  .post-link {
	color: inherit;
  }
