html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--background-color-white);
}

:root {
  --text-color: #212121;
  --background-color-white: #ffffff;
  --hover-focus: #2196f3;
  --header-text-color: #212121;
  --header-logo-color1: #2196f3;
  --header-logo-color2: #000000;
  --main-section-background: #2f303a;
  --main-color: #757575;
  --footer-background-color: #2f303a;
  --footer-email-tel: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --main-button-color: #188ce8;
  /* --trans-timing: 250ms;
	--trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1); */
  --trans-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-bc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-outline-color: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --index-backdrop: 1000;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: var(--trans-color);
}
.link:hover,
.link:focus {
  color: var(--hover-focus);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* 
  !!! |=================================
  !!! | header
  !!! |=================================
  */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}
.header-nav {
  display: flex;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-logo1 {
  color: var(--header-logo-color1);
}
.header-logo2 {
  color: var(--header-logo-color2);
}

.header-nav-menu {
  display: flex;
  margin-left: 93px;
}
.header-nav-menu-li:not(:first-child) {
  margin-left: 50px;
}

.header-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.header-studio.current {
  color: #2196f3;
}

.header-studio.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-porfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.header-porfolio.current {
  color: #2196f3;
}
.header-porfolio.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.header-contacts.current {
  color: #2196f3;
}

.header-contacts.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-nav-address-flex {
  display: flex;
  margin-left: 318px;
  align-items: center;
}
/* .header-nav-address-li1 {
	} */
.header-nav-address-li2 {
  margin-left: 24px;
}
.header-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
}

.header-email,
.header-tel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-header {
  content: "";
  fill: #757575;
}

.icon-mail {
  margin-right: 10px;
}
.icon-tel {
  margin-right: 10px;
}

.header-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: flex;
}

.header-nav-address-li1:hover .icon-mail,
.header-nav-address-li1:focus .icon-mail,
.header-nav-address-li2:hover .icon-tel,
.header-nav-address-li2:focus .icon-tel {
  fill: currentColor;
}

.icon-mail,
.icon-tel {
  transition: var(--trans-fill);
}
